.container {
  position: absolute;
  top: 0;
  bottom: 0 ;
  right: 0  ;
  left: 0;

}

.side-container {
  background: white;

}

h2 {
  background: transparent;
}

.expansion {
  background: transparent;
  padding: 0;
  margin: 0;
}

.mat-item {
  font-size: 15px;
  color: black;
}

.container .mat-drawer {
  min-width: 210px;
  background-color: white;
}


.container .mat-drawer .mat-button {
  display: block;
  width: 100%;
  text-align: left;
}

.site-logo {
  padding-left: 50%;
}

.item-logo {
  margin-right: 10px;
}

.cat-logo {
 margin-left: -6px;
  padding-right: 8px;
}

mat-toolbar {
  /*height: 50px;*/
  background-color: #222222;
  color: white;
  /*#352961*/
}


.spacer {
  flex: 1 1 auto;
}

.toolbar-button {
  margin-left: 5px;
  background-color: #131A1E;
  color: white;
}

.logo {
  padding-left: 5px;
  padding-right: 25px;
  height: 30px;
}

.site-name {
  margin-left: 30px;
}

.nav-header {
  color: white;
  font-size: large;
  background-color: #222222;
}
