.container {
  position: relative;
  text-align: center;
}
.image-top{
  background: url("https://images.pexels.com/photos/3182773/pexels-photo-3182773.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat center;
  background-size: cover;
  height: 70vh;
  margin: auto;
  width: 100%;
  opacity:0.7;
}
.top-left {
  position: absolute;
  bottom: 100px;
  right: 60px;
  font-size: 60px;
  text-align: end;
}
.heading {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  }
.mat-card {
  max-width: 400px;
  }
.header-image{
  display: block;
  width: 100%;
  border-radius: 4px;
  }
.description{
  padding: 20px;
  text-align: center;
  font-size: 28px;
}

 table{
    margin: auto;
  }
 mat-card{
   margin: 30px;
 }
.mat-card-title,.mat-card-subtitle{
  text-align:center;
}
.mat-card-subtitle{
  font-size:25px;
}

.mat-card-image {
  object-fit: cover;
  height: 500px;
}
