.form-container {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.example-full-width {
  width: 100%;
}
.form-title{
  text-align: center;
}

.button {
  margin: 40px;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
  alignment: center;
}

td {
  padding-right: 8px;
}

h1{
  text-align: center;
  font-size: 40px;
}
