bar-chart-bar-chart-compile {
    #chart {
        height: inherit;
        width: inherit;

        .bar {
            fill: #046e96;
        }
        
        .bar:hover {
            fill: #9249ff;
        }
        
        .axis--x path {
            display: none;
        }
    }
}