.form-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.form-title {
  text-align: center;
}

.example-full-width {
  width: 100%;
}

.button {
  margin-right: 10px;
}

.close {
  color: black;
}

.close:hover {
  background-color: #000000;
  color: white;
}

