
.top {
  position: relative;
  height: 80vh;
  background-color: #A9A9A9;
  background-image: linear-gradient(to right, #006286 0%, #189ad3 100%);
}
.bottom {
  position: absolute;
  top: 10vh;
  width: 100%;
  height: 90vh;
}

.graph-type{
  display: flex;
}
.line-one, .line-two, .line-three{
  max-width: 25%;
  flex-basis: 50%;
  margin: auto;
}
mat-card{
  margin-bottom: 10vh;
  height: 15vh;
}
mat-card-title{
  font-size: 3vh;
}
.icon{
  margin-left: 60%;
  margin-top: -10%;
}
mat-icon{
  font-size: 14vh;
}
.bar{
  color: #0B132B;
  font-size: 16vh;
}
.line{
  font-size: 16vh;
  color: #13505B;
}
.donut{
  color: #3A506B;
}
.pie{
  color: #1e3685;
}
.polar{
  color: #0C7489;
}
.radar{
  font-size: 16vh;
  color: #119DA4;
}
.show-graph {
  height: 100vh;
  display: block;
  background: white;
}
