body{
    background-color: white;
}
h1{
  font-weight: 600;
  text-align: left;
  margin-left: 10%;
  margin-top: 5vh;
}
.mapdiv{
    height:20%;
  margin: 10vh auto auto;
  transform: scale(0.36);
    position: absolute;
    top: 10px;
    right: 10px;
    left: 10px;
}

.mapdiv path {
    fill: #3895D3;
    stroke: #4d4d4d;
    stroke-width:4px;
    transition: fill 0.2s;
}

.mapdiv :hover {
    fill:#072F5F;
}
