.top {
  position: relative;
  height: 70vh;
  background-color: #A9A9A9;
  background-image: linear-gradient(to right, #006286 0%, #189ad3 100%);
}
h1{
  color: white;
  font-weight: 600;
  text-align: left;
  margin-left: 10%;
}

.bottom {
  position: absolute;
  top: 10px;
  width: 100%;
  height: 90vh;
}

mat-card{
  background-color: white;
  width: 60vh;
  height: 100%;
  margin: 10vh ;
}
.select-predictor mat-form-field{
  width: 100%;
}
.radio-group{
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
mat-radio-button{
  margin: 5px;
}
button{
  background-color: #189ad3;
  color: white;
}
button:hover{
 color: black;
}
.mat-card-title{
  text-align:center;
  color: #006286;
  margin-bottom: 30px;
}

table{
  margin: auto;
}
.user-input mat-form-field, button{
  margin-left: 35px;
}
