.top {
  position: relative;
  height: 80vh;
  background-color: #A9A9A9;
  background-image: linear-gradient(to right, #006286 0%, #189ad3 100%);
}

h1, h3 {
  color: white;
  font-weight: 600;
  text-align: left;
  margin-left: 10%;
}

.step-one {
  margin-top: 1%;
}

.bottom {
  position: absolute;
  top: 10px;
  width: 100%;
  height: 90vh;
}

mat-card {
  width: 60%;
  height: 100%;
  margin: 8vh auto;
}

.select-predictor mat-form-field {
  width: 50%;
}

.select-algorithm {
  width: 50%;
  margin: 20px;
}

.select-predictor {
  width: 50%;
  margin: 20px;
}

.train-model {
  margin: auto;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px auto;
}

mat-radio-button {
  margin: 5px;
}

button {
  background-color: #189ad3;
  color: white;
  margin-left: 20px;
}

.mat-card-title {
  text-align: center;
  color: #006286;
  margin-bottom: 30px;
}

.user-input mat-form-field {
  width: 45%;
  margin: 0 2.5% 0 2.5%;
}

.user-input button {
  margin-left: 5%;
}

.show-accuracy-result {
}

.result-div {
  margin: auto;
}

.sub-heading {
  color: #006286;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 45%;
}

.accuracy-result-sub {
  width: 50%;
  margin: auto;
}

.result {
  margin-right: 30px;
  color: #006286;
}

table {
  margin: auto;
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #d9d9d9;
  text-align: center;
  padding: 8px;
}

.user-result mat-card {
  text-align: center;
  padding-bottom: 10vh;
}

.card-bottom {
  margin-top: 10vh;
}
