.main-heading {
  height: 10vh;
  font-size: 2.5em;
  color: white;
}

mat-grid-tile {
  background: whitesmoke;
  border-radius: 10px;
}
mat-grid-tile:hover{
  box-shadow: -1px 10px 29px 0 rgba(0,0,0,0.8);
  transition:all 0.4s ease;
  transform: scale(1.1);
}

mat-spinner {
  left: 45%;
  position: absolute;
  z-index: 5;
}

.cards {
  margin-bottom: 50px;
  cursor: pointer;
}

.main-container {
  width: 70%;
  margin: auto;
  padding-top: 5%;
}

.header {
  background: whitesmoke;
  margin-bottom: 60px;
}
 .sub-header {
   background: white;
 }

 table {
   height: 13em;
   width: 100vw;
   border-collapse: collapse;
 }

 td {
   padding-left: 2%;
   color: black;
 }

 .header {
   background: #D3D3D3;
   height: 50px;

 }

.datasetName {
  padding-left: 2%;
  font-size: x-large;
  font-weight: 500;
}

.description {

}

span {
  font-weight: bold;
}

.top {
  height: 80vh;
  background-image: linear-gradient(to right, #006286 0%, #189ad3 100%);
  position: relative;
}

.bottom {
  position: absolute;
  top: 10px;
  width: 100%;
}
