mat-grid-tile {
  background: whitesmoke;
  border-radius: 5px;
}

mat-toolbar {
  padding-left: 46%;
  font-size: xx-large;
}

mat-spinner {
  left: 45%;
  position: absolute;
  z-index: 5;
}

.cards {
  margin-bottom: 50px;
  cursor: pointer;
}

.main-container {
  width: 70%;
  margin: auto;
  padding-top: 5%;
}

.header {
  background: whitesmoke;
  margin-bottom: 60px;
}
 .sub-header {
   background: black;
 }

 table {
   height: 13em;
   width: 100vw;
   border-collapse: collapse;
 }

 td {
   padding-left: 2%;
   color: black;
 }

 .header {
   background: #222222;
   height: 50px;

 }

.datasetName {
  padding-left: 2%;
  font-size: x-large;
  font-weight: 500;
  color: white;
}
.datasetName:hover {
  text-decoration: underline;
}

.description {

}

span {
  font-weight: bold;
}
