
*{
  box-sizing: border-box;
  text-align: center;

}
h1{
  color: white;
  font-weight: 600;
  text-align: left;
  margin-left: 10%;
}
.header{
  height: 150px;
}
.container{
  display: flex;
}
.data-info{
  background: white;
  flex: 66%;
  border-radius: 5px;
  border: 1px solid #E1E1E1;
  padding: 40px 40px;
  margin-right: 3em;
  margin-left: 3em;
}

.sidebar{
  flex:23%;
  margin-right: 3em;
  padding: 40px 40px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #E1E1E1;
}

 table{
  margin: auto;
  text-align: left;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}
 td, th {
   border: 1px solid #d9d9d9;
   text-align: left;
   padding: 8px;
}
 th{
   color: #006286;
   font-size: 30px;
 }
 ul{
   margin-top: 0;
   margin-bottom: 10px;
   list-style-type: none;
   padding: 0;
 }
.sidenav-button {
  display: block;
  font-weight: 400;
  padding: 10px 25px;
  color: #8991A1;
  font-size: 14px;
  alignment: left;
}
button{
  background-color: #006286;
  text-transform: uppercase;
  font-weight: 900;
  color: #f8f9fa;
  border-color: #f8f9fa;
  padding: 10px;
  width: 200px;
}

button:hover{
  border: 1px solid black;
  background-color: white;
  color: #006286;
}
